
  h4{
  margin: 0;
    padding: 0;
    width:7100px;
    background-color:rgb(224, 148, 98);
}
p{
  
  margin: 0;
    padding: 0;
    width:7100px;
    background-color:rgb(224, 148, 98);
}
li{
  margin: 0;
    padding: 0;
    width:7100px;
    background-color:rgb(224, 148, 98);
 
}
ul a{
    list-style-type: none;
   margin: 0;
    padding: 0;
    width:7100px;
    background-color:rgb(224, 148, 98);;
}